@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// Set your brand colors
$purple: #8A4D76;
$green: hsl(141, 71%, 48%);
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $green;
$link: $green;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

@import '~bulma';
@import '~bulma-badge';


